@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html, body {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

/* -------------------- */

.Game h1 {
  margin: 30px 0;
}

.game-canvas {
  border: 2px solid DimGray;
}