@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html, body {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

.App > h1 {
  margin: 30px 0;
}

.Game {
  display: flex;
  flex-flow: row wrap;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: flex-start;
  margin: 20px 100px;
  height: calc(100vh - 200px);
}

.Game > div {
  height: 100%;
}

/* Left **********************************/
.Game-left {
  flex-grow: 1;
  border-right: 2px solid red;

  display: flex;
}

/* Center **********************************/
.Game-center {
  flex-grow: 2;
}

.Game-canvas {
  border: 2px solid DimGray;
}

/* Left **********************************/
.Game-right {
  flex-grow: 1;
  border-left: 2px solid red;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}